* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../media/bg1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 400px;
    margin-bottom: 20px;
}

.content {
    text-align: center;
    color: white;
}

.text{
    padding: 30px 20px 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h1 {

    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ffffff;
    color: rgb(54,187,189);
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(54,187,189);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(54,187,189);
    color: white;
}

.btn1:hover {
    background-color: white;
    color:rgb(54,187,189)
}

.social-icons {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-icons a {
    display: inline-block;
    margin-left: 10px;
}

.social-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
