@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(54,187,189, 0.5), rgba(0, 0, 0, 0.5)), url('../media/bg1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.container {
    width: 50vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 30%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url("../media/logo.png");
    background-size: 50% ;
    background-position: 0%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.design {
    grid-area: design;
    display: none;
    position: relative;
}

.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

.login h3.title {
    margin: 15px 0;
}

.text-input {
    background: #e6e6e6;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.text-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}

.text-input i {
    color: #686868;
}

::placeholder {
    color: #9a9a9a;
}

.login-btn {
    width: 100%;
    padding: 10px;
    color: white;
    background: rgb(54, 187, 189);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: rgb(39, 131, 133);
    cursor: pointer;
}


a {
    font-size: 12px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.create {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
}

.create i {
    color: #9a9a9a;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: 50% 50%;
        grid-template-areas: "design login";
    }

    .design {
        display: block;
    }
}