@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(54, 187, 189, 0.5), rgba(0, 0, 0, 0.5)), url('../media/bg1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.stats {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.panel {
    margin-top: 25px;
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    padding: 10px;
    max-width: 50%;
    min-width: 45%;
}

h1 {
    all: unset;
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
}

.community_btn {
    display: inline;

}

.project {
    text-align: center;

    min-height: calc(100vh - 158px);
}

.project.new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
}

.project.view {
    display: flex;
    text-align: start;
}

.app_box {
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
}

.app_container {
    position: relative;
    width: 70%;
    height: max-content;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid green;
    padding-left: 17px;
    margin-top: 20px;
    box-shadow: 5px 2px 5px 5px rgb(0 0 0 / 16%), 7px 2px 10px 7px rgb(0 0 0 / 12%);
}

.app_data {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    word-break: keep-all;
}

.incomplete_bt {
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    background-color: white;
    padding: 5px;
    color: black;
    border-radius: 5px;
}
.incomplete_bt :hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.app_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app_wrapper_left {
    margin-top: 10px;
    text-align: left;
}

.app_wrapper_right {
    float: right;
}

.app_title {
    font-weight: bold;
}

.button_line {
    display: flex;
    color: white;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 0, 0, 0.5);
}

.color_grading {

    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 50px;
}

.label {
    font-size: 18px;
}

.color_green {

    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: #00FFF6;
}

h2 {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 15px;
}

.color_blue {
    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: #0A4D68;
}

.color_yellow {
    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: #47B5FF;

}

.form_box {
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 16%), 7px 10px 10px 7px rgb(0 0 0 / 12%);
    width: 70%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(54, 187, 189);
    border-radius: 15px;
    padding: 1em;

}

.form_title {
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.form_subtitle {
    text-align: center;
    margin-top: 10px;
}

.form_header {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.field_container {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.field_container.submit {
    margin-top: 5%;
    justify-content: right;
}

.boxes {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    display: inline-block;
}


.boxes.error {
    border: 2px solid;
    animation: shake 0.2s 2 backwards linear;
}

.email {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.email.error {
    border: 2px solid #00FFCA;
    animation: shake 0.2s 2 backwards linear;
}



.submit_bt {
    padding: 1%;
    float: right;
    margin-right: 2%;
    background-color: rgb(54, 187, 189);
    border: 1px solid white;
    color: white;

}

.submit_bt:hover {
    background-color: rgb(39, 131, 133);
    cursor: pointer;
}

.err {
    visibility: hidden;
    color: #00FFCA;
    right: 5px;
    position: absolute;
}

.errem {
    visibility: hidden;
    right: 14px;
    color: #00FFCA;
    position: absolute;
}

.err.good {
    visibility: visible;
    color: rgb(39, 131, 133)
}

.errem.good {
    visibility: visible;
    color: rgb(39, 131, 133);
}

.error_msg {
    height: 1%;
    width: 100%;
    padding: 5px;
    color: #00FFCA;
    font-size: 16px;
}

.input_icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 48%;
    position: relative
}

.input_icons.email {
    width: 98%;
}

.red_star {
    color: white;
    font-size: 24px;
}

.all_good {
    border: 2px solid rgb(39, 131, 133);
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(1%);
    }

}

@media screen and (max-width: 750px) {
    .form_box {
        width: 80%;
        max-width: 600px;
    }

}


.progress_container {
    width: 100%;
    height: 20px;
    background-color: rgb(206, 206, 206);
    border-radius: 15px;

}

.pg {
    background-color: rgb(39, 131, 133);
    height: 100%;
    width: 40%;
    border-radius: 15px;
    text-align: center;
}

.pg_1 {

    color: white;

}

.small {
    font-size: 16px;
}

.content.st3 {
    align-content: flex-start;
}

.form_box.st3 {
    margin-top: 20vh;
}

.text_area {
    padding: 5px;
    width: 100%;
    height: 80px;
    resize: none;
}

.text_area.error {
    border: thin solid #00FFCA;
    animation: shake 0.2s 2 backwards linear;
}

.check_box_container {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.content {
    padding-top: 15vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
}

.check_box {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.check_spacer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
}

@media screen and (max-width : 750px) {
    .app_container {
        width: 85%;
        max-width: 85vw;
    }
}

.left_nav_bar {
    min-height: 80.3vh;
    min-width: 250px;
    max-width: 250px;
    background-color: rgb(54, 187, 189);
}

.tabs {
    padding: 10px;
    padding-left: 15px;
    font-size: 20px;
    min-width: 225px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.358);
    border-top: 2px solid rgba(255, 255, 255, 0.378);
    color: white;
}

i {
    margin-right: 15px;
}

.tabs:hover {
    background-color: white;
    color: rgb(39, 131, 133);
    cursor: pointer;
}

.tabs.first {
    background-color: rgb(24, 159, 161);
    ;
    color: white;
    border: none;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    all: unset;
    background-color: rgba(255, 255, 255, 0.777);
    min-width: calc(100vw - 280px);
    margin: 15px;
    border-radius: 15px;
}

.bar1 {
    height: fit-content;
    padding: 10px;
    padding-left: 30px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.members {
    min-width: 100vw;
    max-height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h4 {
    font-size: 36px;
    padding: 5px;
    margin: 0px;
    padding-top: 10px;
}

.elem {
    font-size: 18px;
}

b {
    font-size: 19px;
}

.bar2 {
    padding: 10px;
    padding-left: 30px;
    padding-right: 50px;
}

.heatmap-container {

    display: grid;
    grid-template-columns: repeat(52, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
}

.heatmap-block {
    width: 20px;
    height: 20px;
    background-color: #ebedf0;
}

.bar3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about {
    width: 100%;
    height: 100%;
    display: none;
}

.card_holder {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    min-height: 70%;
    max-height: 400px;
}

.card {
    display: flex;
    padding: 10px;
    font-size: 14px;
    min-width: 70%;
    min-height: 80px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
}

.card.members1 {
    text-align: start;
    max-width: 60%;
    max-height: 90px;
}

.card_left {
    display: flex;
}

.card_avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.card_name_block {
    margin-left: 15px;
}

.card_name {

    font-size: 18px;
    font-weight: bold;
}

b1 {
    font-weight: bold;
}

.tabs a {
    all: unset;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}