@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

h1 {
    all: unset;
    font-size: 32px;
    font-weight: 600;
    color: white;
    padding: 10px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
}

.community_btn {
    display: inline;
   
}

.project {
    text-align: center;
    background-image: linear-gradient(0deg, rgba(54,187,189, 0.5), rgba(0, 0, 0, 0.5)), url('../media/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}
.project.new{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
}
.app_box {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.app_container {
    position: relative;
    width: 70%;
    height: max-content;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid green;
    padding-left: 17px;
    border-left: 8px solid green;
    margin-top: 20px;
    box-shadow: 5px 2px 5px 5px rgb(0 0 0 / 16%), 7px 2px 10px 7px rgb(0 0 0 / 12%);
}

.app_data {
    padding: 5px;
    display: inline-block;
    word-break: keep-all;
}

.incomplete_bt {
    margin: 5px;
    padding: 5px;
}

.app_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app_wrapper_left {
    margin-top: 10px;
    text-align: left;
}

.app_wrapper_right {
    float: right;
}

.app_title {
    font-weight: bold;
}

.button_line {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgba(3, 0, 0, 0.5);
}

.color_grading {

    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 50px;
}

.label {
    font-size: 18px;
}

.color_green {

    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: green;
}

h2 {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 15px;
}

.color_blue {
    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: rgb(13, 0, 128);
}

.color_yellow {
    max-height: 5px;
    min-width: 5px;
    min-height: 5px;
    padding: 5px;
    background-color: yellow;
}

.form_box {
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 16%), 7px 10px 10px 7px rgb(0 0 0 / 12%);
    width: 70%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 15px; 
    padding: 1em;

}

.form_title {
    text-align: center;
    width: 100%;
    font-size: 32px;
}

.form_subtitle {
    text-align: center;
    margin-top: 10px;
}

.form_header {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.field_container {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.field_container.submit {
    margin-top: 5%;
    justify-content: right;
}

.boxes {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    display: inline-block;
}


.boxes.error {
    border: 2px solid red;
    animation: shake 0.2s 2 backwards linear;
}

.email {
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.email.error {
    border: 2px solid red;
    animation: shake 0.2s 2 backwards linear;
}



.submit_bt {
    padding: 1%;
    float: right;
    margin-right: 2%;
    background-color: rgb(45, 157, 8);
    border: 1px solid white;
    color: white;

}

.submit_bt:hover {
    background-color: rgb(41, 134, 10);
    cursor: pointer;
}

.err {
    visibility: hidden;
    color: red;
    right: 5px;
    position: absolute;
}

.errem {
    visibility: hidden;
    right: 14px;
    color: red;
    position: absolute;
}

.err.good {
    visibility: visible;
    color: green;
}

.errem.good {
    visibility: visible;
    color: green;
}

.error_msg {
    height: 1%;
    width: 100%;
    padding: 5px;
    color: red;
    font-size: 16px;
}

.input_icons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 48%;
    position: relative
}

.input_icons.email {
    width: 98%;
}

.red_star {
    color: red;
    font-size: 24px;
}

.all_good {
    border: 2px solid green;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(1%);
    }

}

@media screen and (max-width: 750px) {
    .form_box {
        width: 80%;
        max-width: 600px;
    }

}


.progress_container {
    width: 100%;
    height: 20px;
    background-color: rgb(206, 206, 206);
    border-radius: 15px;

}

.pg {
    background-color: rgb(8, 195, 8);
    height: 100%;
    width: 40%;
    border-radius: 15px;
    text-align: center;
}

.pg_1 {

    color: white;

}

.small {
    font-size: 16px;
}

.content.st3 {
    align-content: flex-start;
}

.form_box.st3 {
    margin-top: 20vh;
}

.text_area {
    padding: 5px;
    width: 100%;
    height: 80px;
    resize: none;
}

.text_area.error {
    border: thin solid red;
    animation: shake 0.2s 2 backwards linear;
}

.check_box_container {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.content {
    padding-top: 15vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: space-around;
}

.check_box {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.check_spacer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-content: center;
}

@media screen and (max-width : 750px) {
    .app_container {
        width: 85%;
        max-width: 85vw;
    }
}